* {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

:root {

    --primary-font: "Fjalla One",
        serif;
    --secondary-font: "Work Sans",
        serif;
    --primary-color: #4a4b7c;
    --selection-color: #494949;
    --icon-back: #494949;
    --primary-text-color: #111;
    --secondary-text-color: #4a4b7c;
    --weight: 500;
    --weight: bold;
    --background-color1: #EFEFF6;
    --background-color2: #F2F2FA;

}

::selection {

    background-color: var(--selection-color);
    color: var(--primary-text-color);

}

/** scroll btn */
.scrollBtn{

    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #4a4b7c;
    height: 20px;
    width: 20px;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    display: none;
    
}

.scrollBtn > i{

    color: #fff;
    font-weight: 600;
    font-size: 20px;

}

/** Menu section */

header {

    width: 100%;
    height: 100px;
    position: relative;
    z-index: 99999;

}

nav {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: hidden;

}

nav>.logoimg img {

    width: 170px;
    object-fit: cover;

}

.menu>ul li {

    display: inline-block;
    margin-right: 30px;
    font-size: 16px;

}

.menu>ul li a {

    color: rgb(0, 0, 0);
    font-family: var(--secondary-font);
    text-decoration: none;

}

.menu>ul li a:hover {

    color: var(--secondary-text-color);
    transition: all 0.3s ease-in;
    cursor: pointer;

}

.menu>ul i {

    cursor: pointer;
    font-size: 18px;
    background-color: #656565;
    padding: 10px;

}

:is(i#open, i#close) {

    display: none;

}

/** Responsive Section */

.responsivemenu {

    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #4a4b7c;
    height: 90px;
    display: none;

}

.responsivemenu>ul li {

    padding: 10px 10px 10px 10px;
    font-size: 20px;
    background-color: #ffffff;

}

.responsivemenu>ul li a {

    color: var(--primary-text-color);
    font-family: var(--secondary-font);
    font-size: 15px;
    text-decoration: none;

}

/** hero section */
.herosection{

    width: 100%;
    height: 120vh;
    background-image: linear-gradient(360deg, var(--background-color1), var(--background-color2));
    margin-top: -100px;

}

.hero{

    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.hero > .box{

    width: 400px;
    padding-top: 100px;

}

.text1 {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;

}

.text1 h1{

    font-family: var(--primary-font);
    font-size: 100px;
    text-align: right;
    font-weight: 500;
    color: var(--primary-color);

}

.image{

    display: flex;
    align-items: center;

}

.image > img{

    border-radius: 50%;
    width: 100%;
    filter: drop-shadow(7px 5px 8px #111);
    border-right: 5px solid snow;
    border-left: 3px solid snow;

}

.text2{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

}

.text2 > .textsec{

    width: 100%;

}

.textsec > h1{

    font-size: 40px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin-bottom: 20px;

}

.textsec > p{

    font-size: 15px;
    width: 300px;
    font-weight: 350;
    line-height: 25px;
    font-family: var(--secondary-font);

}

/** contact section */
.contactdetailssection{

    width: 100%;
    height: 130vh;
    background-color: #F2F2FA;

}

.contactdetails{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 650px 600px;
    justify-content: center;

}

.contactdetails > .socialiconbox{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.socialiconbox > .socialicon{

    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    height: 200px;
    padding: 20px 10px 60px 10px;
    overflow: hidden;

}

.socialicon > i{

    font-size: 28px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.socialicon > i:hover{

    transform: scale(1.2);

}

/** contact form seaction */

.contactdetails > .contactformsection{

    height: 100%;
    display: flex;
    justify-content: center;

}

.contactformsection > .contactform{

    width: 100%;
    background-color: #D2D6DA;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    overflow: hidden;

}

.contactform > h3{

    padding-left: 100px;
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #4a4b7c;
    margin-bottom: 30px;
    overflow: hidden;

}

.contactform > .form{

    display: flex;
    align-items: center;
    justify-content: center;

}

.form > form{

    display: flex;
    flex-direction: column;
    flex: 1 0 200;

}

.form > form input{

    width: 430px;
    height: 30px;
    padding: 8px;
    font-family: var(--secondary-font);
    border: none;
    outline: none;

}

.form > form textarea{

    width: 430px;
    padding: 8px;
    border: none;
    outline: none;

}

.form > form #submit{

    width: 450px;
    background-color: #545657;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;

}

::placeholder{

    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 13px;

}

/** contact address section */
.contactaddress{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    height: 100%;

}

.contactaddress > .contact{

    overflow: hidden;

}

.contactaddress > .contact h2{

    font-size: 130px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 550;
    width: 300px;
    margin-bottom: 20px;

}

.contact > .phone{

    width: 100%;
    padding: 20px 0px;

}

.phone > h4{

    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #4a4b7c;

}

.phone > p{

    font-size: 25px;
    font-family: var(--primary-font);
    color: #4a4b7c;
    font-weight: 500;

}

.contact > .email{

    width: 100%;
    padding: 20px 0px;

}

.email > h4{

    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #4a4b7c;

}

.email > p{

    font-size: 25px;
    font-family: var(--primary-font);
    color: #4a4b7c;
    font-weight: 500;

}

.contact > .location{

    width: 100%;
    padding: 20px 0px;

}

.location > h4{

    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #4a4b7c;

}

.location > p{

    font-size: 25px;
    font-family: var(--primary-font);
    color: #4a4b7c;
    width: 400px;
    font-weight: 500;

}

/** map area */
.maparea{

    width: 100%;
    height: 50vh;

}

.maparea > .map{

    width: 100%;
    height: 100%;

}

.map > iframe{

    width: 100%;
    height: 100%;

}

/** footer section */ 

footer {

    width: 100%;
    height: 90vh;
    background-color: #f2f2fa;

}

footer>.footerSection {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px;
    width: 100%;
    height: 80vh;

}

.footerSection>.sociallink {

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 70px 0px;

}

.sociallink>.fb,
.tweet,
.print,
.insta {

    font-size: 20px;
    background-color: var(--selection-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}

.footerSection>.contactsection {

    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;

}

/** cbox 1 */

.contactsection>.cbox1 {

    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 150px;
    padding-top: 50px;

}

.contactsection>.cbox1 span {

    font-family: var(--primary-font);
    color: var(--primary-color);

}

.contactsection>.cbox1 p {

    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-font-color);

}

/** cbox 2 */

.contactsection>.cbox2 {

    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;

}

.contactsection>.cbox2 h2 {

    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;

}

.contactsection>.cbox2 a button {

    width: 200px;
    height: 50px;
    background-color: #fff;
    outline: none;
    border: none;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contactsection>.cbox2 a button::before {

    content: "";
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    transition: all 1s ease;
    background-color: #111111d2;

}

.cbox2>a button:hover::before {

    width: 100%;

}

.cbox2>a button:hover {

    color: #fff;
    transition: all 1s ease;

}

/** cbox 3 */

.contactsection>.cbox3 {

    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    padding-right: 150px;
    padding-top: 50px;
    gap: 40px;

}

.contactsection>.cbox3 p {

    width: 350px;
    line-height: 25px;
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 400;

}

/** Copy right text */
.copyrightcontent {

    display: flex;
    justify-content: space-between;
    padding: 0px 150px;

}

.copyrightcontent>.copyrighttext {

    font-family: var(--secondary-font);
    font-weight: 300;

}
